<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	  lang="en">
	<head>
		<title>Error</title>

		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<style>
			body {
				background-image: url('images/HTML-Error-Page.png');
				background-repeat: no-repeat;
				background-attachment: fixed;
				background-size: cover;
			}
		</style>
	</head>
	<body>
	<h2 style = "color: red">Something went wrong. Click <button type = "button"><a href = "/">here</a></button> to return to the search page.</h2>
	</body>
</html>