<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Form</h1>
    <form action="#" id = "myform" th:action="@{/search_result}" th:object="${event}" method="post">
    	<p>Title Of Event: <input type="text" id = "titleofevent" value= "" th:field="*{titleofevent}" /></p>
        <p>Place Of Event: <input type="text" id = "placeofevent" value= "" th:field="*{placeofevent}" /></p>
        <p>Description: <input type="text" id = "description" value="" th:field="*{description}" /></p>
		<p>Start Date: <input type="text" id = "startdate" value="" placeholder = "YYYY-MM-DD" th:field="*{startdate}" /></p>
		<p>End Date: <input type="text" id = "enddate" value="" placeholder = "YYYY-MM-DD" th:field="*{enddate}" /></p>
		<p>Time Of Show: <input type="text" id = "timeofshow" value="" placeholder = "HH:MM:SS" th:field="*{localtimeofshow}" /></p>
		
        <input type="submit" value="Submit" /><input type="reset" value="Reset">
    </form>

    
	
	<script>
	function reset()
	{
		document.getElementById("titleofevent").value = "";
		document.getElementById("placeofevent").value = "";
		document.getElementById("description").value = "";
		document.getElementById("startdate").value = "";
		document.getElementById("enddate").value = "";
		document.getElementById("timeofshow").value = "";
	}
	</script>
</body>
</html>
